<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
			<div class="container-fluid p-3 mt-2">
				<div class="row">
					<h2>All Book Requests</h2>
					    <table class="table table-bordered">
					        <thead>
					        <tr>
								<th>Book</th>
											   
											    <th>Requested On</th>
											    <th>Response Date</th>
												<th>Status</th>
												<th>Return Action</th>
					        </tr>
					        </thead>
					        <tbody>
								<tr th:each="req : ${requests}">
										    <td th:text="${req.book.title}"></td>
										   
										    <td th:text="${req.requestDate}"></td>
										    <td th:text="${req.issueDate} ?: '—'"></td>
											<td th:text="${req.status}"></td>
											<td>												
												<th:block th:if="${req.status=='APPROVED'}">
												    <a th:href="@{/user/review/{bookId}(bookId=${req.book.id})}" class="btn btn-primary">Write a Review</a>
												</th:block>
											</td>


											
					        </tr>
					        </tbody>
					    </table>	
						
				</div>
			</div>
		</section>
</body>
</html>