<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Login page</title>   
 <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>
	<section>
	    <div class="container mt-5 p-3">
	      <div class="row justify-content-center align-items-center">
	        <!-- Image Column -->
	        <div class="col-md-6 d-none d-md-block img-container">
	          <img src="image/loginpage.png" alt="Login Image" class="img-fluid login-img rounded">
	        </div>

	        <!-- Form Column -->
	        <div class="col-md-6 col-sm-12">
	          <div class="card shadow-sm p-4">
	            <div class="card-header text-center">
	              <h4>Login</h4>
	            </div>

	            <div class="card-body">
	              <form action="/login" method="post">
	                <div class="mb-3">
	                  <label class="form-label">Email</label>
	                  <input type="email" name="username" class="form-control" required>
	                </div>

	                <div class="mb-3">
	                  <label class="form-label">Password</label>
	                  <input type="password" name="password" class="form-control" required>
	                </div>

	                <button type="submit" class="btn btn-primary w-100">Login</button>
	              </form>
	            </div>

	            <div class="card-footer text-center">
	              <a href="/forgot-password" class="d-block text-decoration-none mb-1">Forgot Password?</a>
				  <span th:if="${param.error}" class="alert alert-danger mt-2">
				  	                <th:block th:if="${session.SPRING_SECURITY_LAST_EXCEPTION != null}">
				  	                  [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
				  	                </th:block>
				  	              </span>

				  	              <span th:if="${param.logout}" class="alert alert-success mz-5">
				  	                Logged out successfully.
				  	              </span>
	              <span>Don't have an account? <a href="/register" class="text-decoration-none">Register</a></span>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </section>
</body>
</html>
